* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent !important;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: $color-primary;
    position: relative;
}

#content {
    position: relative;
    min-height: 100%;
    // padding-bottom: 16.8rem;
}

main {
    width: 100%;
    min-height: 100%;
}

.glide__slide {
    &--type {
        font-size: 1.4rem;
        line-height: 2.6rem;
        color: $color-tertiary;
        display: block;
    }

    &__heading {
        & h2 {
            color: $color-tertiary;
            display: inline-block;
            margin-bottom: 2rem;
            font-size: 4.4rem;
            font-weight: 400;
            line-height: 1.4;
        }
    }

    & .image__container {
        & img {
            width: auto;
            max-width: 100%;
        }
    }
}