// Colors
$color-primary: #191919;
$color-secondary: #F1F1F1;
$color-tertiary: #FFF;
$color-quaternary: #A1A1A1;
$color-quinary: #808285;
$color-senary: #F2F2F2;
$color-septenary: #333;
$color-octonary: #92A5A9;
$ccolor-black: #000;

// Media queries
$tablet-media-query: 768px;
$small-screen-query: 1024px;

.light--mode {
    background-color: $color-secondary;
    transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
}
