.hero {
    overflow: hidden;
    height: 100vh;
    width: 100%;

    @media only screen and(min-width: $tablet-media-query) {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    & .gradient__parent {
        position: absolute;
        top: -5%;
        left: -5%;
        z-index: -1;
        height: 50rem;
        width: 50rem;
        transform: rotate(345deg);

        & .gradient--1 {
            position: absolute;
            top: 0%;
            left: -5%;
            right: initial;
            background-color: #6E2D96;
            height: 50%;
            width: 50%;
            border-radius: 50%;
            filter: blur(5rem);
            opacity: 0.8;
        }

        & .gradient--2 {
            position: absolute;
            top: 17%;
            left: -22%;
            right: initial;
            background-color: #EBA1C0;
            height: 50%;
            width: 50%;
            border-radius: 50%;
            filter: blur(5rem);
            opacity: 0.8;
        }

        & .gradient--3 {
            position: absolute;
            top: 23%;
            left: 0%;
            right: initial;
            background-color: #CFA1F3;
            height: 50%;
            width: 50%;
            border-radius: 50%;
            filter: blur(5rem);
            opacity: 0.8;
        }
    }

    &__slider {
        position: relative;
        height: 100%;

        & .hero__slide--1,
        & .hero__slide--2,
        & .hero__slide--3 {
            position: absolute;
            top: 0%;
            left: 0%;
        }
    }
}

.digital-product-studio {
    padding: 5rem 0rem;
    
    @media only screen and(min-width: $tablet-media-query) {
        padding: 10rem 0rem;
    }
}

.card {
    background-color: $color-tertiary;
    padding: 3rem;

    &--gray {
        @extend .card;
        background-color: $color-secondary;

        & .post-count-position {
            display: inline-block;
            margin-bottom: 3rem;
        }

        @media only screen and(min-width: $tablet-media-query) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
        }
    }

    &__img {
        display: inline-block;
        max-height: 42rem !important;
        height: auto;
        width: 100%;
        margin-bottom: 3rem;
        
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        @media only screen and(min-width: $tablet-media-query) {
            width: 60%;
            margin-bottom: 0rem;
        }
    }

    &__content {
        @media only screen and(min-width: $tablet-media-query) {
            width: 40%;
        }
    }

    & p {
        padding: 1.3rem 0;
    }
}

.remarkable-experiences {
    padding: 5rem 0rem;

    @media only screen and(min-width: $tablet-media-query) {
        padding: 10rem 0rem;
    }

    &-mobile {
        @media only screen and(min-width: $tablet-media-query) {
            display: none;
        }
    }

    &-slider {
        display: none;
        @media only screen and(min-width: $tablet-media-query) {
            // background-color: $color-secondary;
            display: block;
        }
    }
}

.product-idea {
    padding: 5rem 0rem;

    @media only screen and(min-width: $tablet-media-query) {
        padding: 10rem 0rem;
    }
}

.decentarlized-studio {
    padding: 5rem 0rem;

    @media only screen and(min-width: $tablet-media-query) {
        padding: 10rem 0rem;
    }
}