.hero {
    // overflow: hidden;
    height: 100vh;
    width: 100%;

    @media only screen and(min-width: $tablet-media-query) {
        height: 100vh;
        display: flex;
        align-items: center;
    }
}

.digital-product-studio {
    padding: 5rem 0rem;
    
    @media only screen and(min-width: $tablet-media-query) {
        padding: 10rem 0rem;
    }
}

.card {
    background-color: var(--color-tertiary);
    padding: 3rem;

    &--gray {
        @extend .card;
        background-color: transparent !important;

        & .post-count-position {
            display: inline-block;
            margin-bottom: 3rem;
            color: var(--color-tertiary);
        }

        @media only screen and(min-width: $tablet-media-query) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
            padding: 0rem;
        }
    }

    &__img {
        display: inline-block;
        height: auto;
        width: 100%;
        margin-bottom: 3rem;
        
        @media only screen and(min-width: $tablet-media-query) {
            width: 55%;
            margin-bottom: 0rem;
        }
    }

    &__content {
        @media only screen and(min-width: $tablet-media-query) {
            width: 45%;
        }
    }

    & p {
        padding: 1.3rem 0rem;

        @media only screen and(min-width: $tablet-media-query) {
            padding: 2rem 0rem 3.5rem 0rem;
        }
    }
}

.remarkable-experiences {
    padding: 5rem 0rem;

    @media only screen and(min-width: $tablet-media-query) {
        padding: 10rem 0rem;
    }

    &-mobile {
        @media only screen and(min-width: $tablet-media-query) {
            display: none;
        }
    }

    &-slider {
        display: none;
        @media only screen and(min-width: $tablet-media-query) {
            // background-color: var(--color-secondary);
            display: block;
        }
    }
}

.product-idea {
    padding: 5rem 0rem;

    @media only screen and(min-width: $tablet-media-query) {
        padding: 10rem 0rem;
    }
}

.decentarlized-studio {
    padding: 5rem 0rem;

    @media only screen and(min-width: $tablet-media-query) {
        padding: 10rem 0rem;
    }
}