.intro {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
}

.great-product,
.what-we-do,
.team,
.connect,
.next-generation {
    padding: 5rem 0rem;

    @media only screen and(min-width: $tablet-media-query) {
        padding: 10rem 0rem;
    }
}