.intro {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
}

.great-product {
    padding: 5rem 0rem;
}

.what-we-do {
    padding: 5rem 0rem;
}

.team {
    padding: 5rem 0rem;
}

.connect {
    padding: 5rem 0rem;
}

.next-generation {
    padding: 5rem 0rem;
}