//hero slide

.line {
    position: relative;
    height: .1rem;
    width: 100%;
    background-color: $color-octonary;
    margin: 0rem 2rem;

    &--1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 33.3%;
        height: .3rem;
        background-color: transparent;
        cursor: pointer;

        &--work {
            @extend .line--1;
            width: 25%;
        }
    }

    &--2 {
        position: absolute;
        left: 33.3%;
        top: 0;
        width: 33.3%;
        height: .3rem;
        background-color: transparent;
        cursor: pointer;

        &--work {
            @extend .line--2;
            left: 25%;
            width: 25%;
        }
    }

    &--3 {
        position: absolute;
        right: 0;
        top: 0;
        width: 33.3%;
        height: .3rem;
        background-color: transparent;
        cursor: pointer;

        &--work {
            @extend .line--3;
            left: 50%;
            width: 25%;
        }
    }

    &--4 {
        position: absolute;
        right: 0;
        top: 0;
        width: 25%;
        height: .3rem;
        background-color: transparent;
        cursor: pointer;
    }

    & .dragg {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        height: .3rem;
        width: 33.3%;
        background-color: $color-tertiary;

        &--work {
            @extend .dragg;
            width: 25%;
        }
    }
}

.glide {
    @media only screen and(min-width: $tablet-media-query) {
        width: calc(100% - 13rem) !important;
        margin: 0% auto;
    }
}

.centered-slider {
    position: relative;
    overflow: hidden;
    margin-top: 5rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;

    @media only screen and(min-width: $tablet-media-query) {
        width: 100%;
        max-width: 114rem;
        margin: 5rem auto 0rem auto;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        background-color: $color-secondary;
        padding: 2.5rem 1rem;
        height: 33.5rem;
        width: 29.4rem;
        position: relative;

        @media only screen and(min-width: $tablet-media-query) {
            width: 23%;
            height: auto;
        }
    }

    &__arrow {
        position: absolute;
        bottom: 2.5rem;
        right: 1rem;
    }
}